#certi {
    overflow: auto;
    text-align: center;
    margin-top: 30px;
    
}

#certi div {
    display: inline-block;
    float: left;
    width: calc(100% / 3);
}

#mtext {
    margin-top: 30px;
    margin-bottom: 70px;
}

#tit_blue {
    margin-top: 60px;
    font-weight: normal;
    color: #0c4da2;
    font-size: 1.5em;
}

#tit_blue>span {
    color: #777;
}

section h3 {
    color: #0c4da2;
    font-size: 1.3em;
    margin-bottom: 10px;
}
